[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.book-cover {
  max-width:320px;
}

.mt60 {
  margin-top: 60px;
}

.forbidden img {
  height: 200px;  
}

.book-list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-width: auto; /* Chrome, Safari, Opera */
  -moz-column-width: auto; /* Firefox */
  column-width: auto;
  
  -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
  -moz-column-gap: 5px; /* Firefox */
  column-gap: 5px;
}

.book-list .panel-body {
  text-align: center;
}

.book-list img {
  max-width: 100%;
  max-height: 400px;
}